.animate-slowly {
    animation-duration: 4s; 
  }
  
  .home-service-card {
    transition: all ease 0.8s;
    cursor: pointer;
  }
  
  .home-service-card:hover {
    transform: scale(1.05);
  }
  .home-features-section :hover {
    
    background-color: #0f7a81;
    cursor: pointer;
  }

  .home-banner-section {
    background-image: url("../assets/banner1.jpeg");
    background-attachment: fixed;
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }